.modalBackground {
    position: fixed;
    z-index: 100;
    margin-bottom: 200px;
    margin-right: 30px;
    right: 0;
    bottom: 0;
    padding: 0;
    border: cornflowerblue 2px solid;
    border-radius: 12px;
}


.modalContainer {
    width: 350px;
    height: 550px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.modalContainer .title {
    display: flex;
    padding-left: 40px;
    align-items: center;
    margin: 0;
}

.titleCloseBtn {
    display: block;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    text-align: center;
}

.modalContainer .body > h5{
    border-bottom: 1px solid #a9a7a7;
    width: 100px;
    margin: 10px;
}