.table{
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}
div{
    white-space: pre-wrap; /* css-3 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.button-dark{
    color:#ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 20px !important;
}

.button-light{
    color: #14238d !important;
    border: 1px solid #6774d0 !important;
    border-radius: 20px !important;
}

.h1{
    text-align: center;
}

.quantity{
    padding: 5px 10px 20px;
    text-align: left;
}