
.auth__content{
    border: #a80b00 2px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f2fafe;
}

.auth {
    position: relative;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url('https://filling-form.ru/pars_docs/refs/91/90085/90085_html_4156c84.png');

}

.auth__body{
    background-color: white;
    border-radius: 30px;

    width: 400px;
    padding: 20px;
    margin: 10px;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}

.auth__tittle{
    display: flex;
    justify-content: center;
}

.auth__inputs{
    display: flex;
    flex-direction: column;
}

.auth__inputs>input{
    display: flex;
    margin: 20px;
    padding: 12px;
    border-radius: 20px;
    border: dodgerblue 2px solid;
    outline: none;
    font-size: 20px;
}

.auth__footer{
    display: flex;
    justify-content: center;
}

.centerAuth {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.centerLoad {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast{
    position:fixed;
    z-index:1000;
    top:6px;
    text-align: center;
    align-items: center;
    background: white;
    border: cornflowerblue 2px solid;
    border-radius: 15px;
    padding: 20px;
}