@import "~materialize-css/dist/css/materialize.min.css";

.row {
    margin-top: 150px;
}

.card {
    width: 600px;
}

.centerAuth {
    display: flex;
    justify-content: center;
}

.centerLoad {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

