.header-admin{
    position: sticky;
    z-index: 100;
    top: 0;
    border-bottom: 2px solid #bcbac2;
}

.header{
    text-align: center;
    top: 0;
    padding: 20px;
    margin: 0;
}

.header-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.status-icon__delete{
    color: crimson;
    text-align: center;
    cursor: pointer;
}

.status-icon__edit{
    color: #c814dc;
    text-align: center;
    cursor: pointer;
}

.status-icon{
    color: #0b40b0;
    text-align: center;
    cursor: pointer;
}

.border-radius{
    border-radius: 200px;
}
