.header{
    text-align: center;
    top: 0;
    padding: 20px;
    margin: 0;
}

.header-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status-icon{
    color: crimson;
}
