.category-row{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     justify-content: space-evenly;
}

.category{
    justify-content: center;
    margin: 20px;
    padding-top: 30px;
    width: 100vw;
    background-color: #f2fafe;
    border-radius: 30px;
}