.categoryBox_content {

    background-color: white;
    border-radius: 30px;

    width: 200px;

    margin: 10px;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.categoryBox__image {
    display: flex;
    justify-content: center;
}

.categoryBox__name {

    font-size: 20px;
    text-align: center;
}
.categoryBox__name>p{
    margin: 0;
    padding: 0;
}




.categoryBox__img-size {
    max-width: 150px;
    max-height: 150px;
}